body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border: 2px solid black;
    border-radius: 50px;
    height: 400px;
    box-shadow: 10px 10px 20px black;
}

.button{
    display: inline-block;
    padding: 5px 50px;
    background-color: aquamarine;
    margin: 15px;
    border-radius: 20px;
    font-size: 50px;
    box-shadow: 10px 10px 20px black;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 5px 5px 10px black;
}

.card{
    background-color: rgb(206, 255, 134);
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    text-align: center;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    border: 3px solid aquamarine;
}
footer{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}